html,
body {
  height: 100%;
}

body {
  color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
/*===============   PlaceHolder    =============*/
#preloader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#loadingimg {
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-image: url(img/loading.gif);
  top: 50%;
  left: 50%;
  position: relative;
  margin-top: -35px;
  margin-left: -35px;
}
/*===============   PlaceHolder  End  =============*/

/*===============  Home   =============*/

#home-videtg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  z-index: -1;
  background-image: url(video/solo.jpg);
}

#home-overlay {
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

section {
  background: white;
  overflow: hidden;
}

/* home section */

#home-section {
  height: 100%;
  background: none;
}

/* home divs */

#home-container {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content {
  display: table-cell;
  vertical-align: middle;
}

.homecontenttx h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 65px;
}
.homecontenttx h1 span {
  color: #f4c613;
  font-weight: 500;
}

.homecontenttx p {
  color: white;
  display: inline-block;
  margin: 5px 0;
}

.btn-home {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 15px 65px 15px 65px;
  margin: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
}

.btn-home:hover,
.btn-home:focus {
  color: white;
  background-color: #f4c613;
  border-color: #f4c613;
}

#down-arrow {
  position: absolute;
  left: 50%;
  color: white;
  bottom: 10px;
  height: 35px;
  width: 35px;
  text-align: center;
  margin-left: -17px;
  z-index: 1;
}
#down-arrow:hover {
  color: #f4c613;
}
/*===============   Home End    =============*/

/*===================  about Start ============================*/

/* =========================================================== */
/* ************************ pading container */
/* ============================================================ */
.about-container {
  padding: 120px 0px;
  /* set padding top - bottom nothing else*/
}
.about-container-md {
  padding: 0px 0px;
  margin-top: 50px;
  /* set padding top - bottom nothing else*/
}
.card-container {
  padding: 100px 0;
  /* set padding top - bottom nothing else*/
}

/* =========================================================== */
/* ************************ pading container End */
/* ============================================================ */
.verticaltx {
  display: inline-block;
  margin-bottom: 50px;
}
.verticaltx h5 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -60px;
}
.verticaltx h5,
.heading-horizontal h5 {
  color: #f4c613;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
}
.verticaltx h2 {
  margin: 0 0 0 30px;
}
.verticaltx h2,
.heading-horizontal h2 {
  min-width: 220px;
  font-size: 42px;
  font-weight: 100;
  line-height: 38px;
}

#ab-right-box p {
  font-size: 14px;
  text-align: justify;
}
#about-img {
  margin-top: 60px;
}
.cal-md-12 {
  width: 100%;
}
#about-img img {
  margin: 0 auto;
}
/*=============================== cards ============================*/

.cardbox {
  margin: 10px 0;
  background-color: #f4f4f4;
  padding: 80px 30px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.cardbox p {
  text-align: justify;
}
.cardbox i {
  margin: 0;
  font-size: 42px;
}

.cardbox:hover i {
  transform: translatey(-15px);
  -webkit-transform: translatey(-15px);
  -moz-transform: translatey(-15px);
  -ms-transform: translatey(-15px);
  -o-transform: translatey(-15px);
}

.cardbox:hover {
  background-color: #f4c613;
}
.cardbox:hover hr {
  background-color: white;
}
.cardbox hr {
  width: 42px;
  height: 3px;
  background-color: #f4c613;
  margin: 15px auto;
  border: none;
}
.cardbox:hover p,
.cardbox:hover i,
.cardbox:hover h5 {
  color: white;
}
.cardbox,
.cardbox i,
.cardbox hr {
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}

/* cards end */

/*===================  about END ============================*/

/* ========================= Team css ========================= */

.verticaltx,
.blog-heading p{
  margin: 0;
  padding: 40px 10px 0 0;
  text-align: justify;
}

.team-member {
  margin: 0px 8px;
  position: relative;
}
.team-member-overly {
  background-color: rgba(0, 0, 0, 0.7);
  height: 0%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
.team-overly {
  height: 100%;
  width: 100%;
  padding: 80px 0;
}

.team-overly h6 {
  color: #f4c613;
  text-align: center;
}
.team-overly ul {
  list-style-type: none;
  padding: 0;
}
.team-overly p {
  color: white;
}
.team-overly ul li {
  display: inline-block;
  padding: 0;
}
.team-overly ul li a {
  padding: 0;
  height: 40px;
  width: 40px;
  line-height: 35px;
  color: white;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
}

ul.socialicon {
  padding: 0;
  margin-top: 20px;
}
.team-member:hover .team-member-overly {
  height: 100%;
}
ul.socialicon li:nth-child(1) a:hover {
  background: #3b5998;
  border-color: transparent;
}
ul.socialicon li:nth-child(2) a:hover {
  background: #ff3300;
  border-color: transparent;
}
ul.socialicon li:nth-child(3) a:hover {
  background: #3066db;
  border-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  font-size: 90px;
}

/* ========================= Team END========================= */

/* ========================= Progress bars ========================= */
.skill {
  margin: 20px 0;
}
.progress {
  height: 25px;
  margin: 0;
  overflow: visible;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.progress-bar {
  background-color: #f4c613;
  position: relative;
  overflow: visible;
}
.progress-bar span {
  font-size: 11px;
  position: absolute;
  left: 97%;
  top: -47px;
  text-align: center;
  line-height: 14px;
  background-color: #212226;
  font-weight: 100;
  padding: 3px;
}
.progress-bar span:before {
  content: '';
  border-top: 8px solid #212226;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  bottom: -8px;
  left: 24%;
}
/* ========================= Progress Bars End ========================= */

/* ========================= Statement Quote ========================= */
#statement-content {
  background-color: rgba(0, 0, 0, 0.7);
}
.statement-bgimg {
  background-image: url(../img/tech/tech-quote.jpg);
  background-position: center;
  background-size: cover;
}
#statement h3 {
  font-size: 23px;
  color: white;
  font-weight: 500;
}
#statement p {
  color: #f4c613;
}
/* ========================= Statement Quote End========================= */

/* ========================= Services ========================= */
.heading-horizontal {
  margin-bottom: 80px;
}
.service-icon i {
  font-size: 35px;
  padding-top: 8px;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
.service-item:hover i {
  color: #f4c613;
  transform: translateX(-25px);
  -webkit-transform: translateX(-25px);
  -moz-transform: translateX(-25px);
  -ms-transform: translateX(-25px);
  -o-transform: translateX(-25px);
}
.service-item:hover h5 {
  color: #212226;
}
.service-right-list {
  margin-bottom: 20px;
  text-align: left;
}
.service-right-list p {
  font-size: 13px;
  text-align: justify;
  margin-top: 10px;
  padding: 0;
}
.service-img {
  height: 100%;
}
.service-img img {
  position: relative;
  top: 50%;
  padding: 050px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  margin-top: -60px;
}
.service-right-list h5 {
  margin: 0;

  color: #f4c613;
}
.service-right-list h3 {
  font-size: 24px;
  margin: 0 0 8px 0;
}
/* ========================= Services ========================= */

/* ========================= Services tabs ========================= */
#service-tabs {
  background-color: #f4f4f4;
  padding-bottom: 50px;
}

#tab-list li {
  padding: 30px 10px;
}
#tab-list li a {
  font-weight: 700;
  text-decoration: none;
  color: #212226;
  text-transform: uppercase;
  font-weight: 400;
}

#service-tabs ul li.r-tabs-state-active a {
  color: #f4c613;
  border-bottom: 3px solid #f4c613;
  padding-bottom: 5px;
}
.service-left-container {
  padding: 50px;
}
.service-left-container h2 {
  font-size: 48px;
  color: #bbb;
  margin-bottom: 20px;
  font-weight: 100;
}
.service-left-container h3 {
  font-size: 32;
  margin-bottom: 30px;
}
.service-left-container p {
  line-height: 24px;
  margin-bottom: 30px;
}
.service-left-container button,
.pricing-btn button,
.blog-btn {
  border: 1px solid #f4c613;
  padding: 8px 30px;
  border-radius: 50px;
  outline: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #f4c613;
  color: white;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}
/* remove button default border on clicked */
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}
.service-left-container button:hover {
  border: 1px solid #212226;
  padding: 8px 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #212226;
  color: white;
}
.servicetabs img {
  width: 100%;
  margin: 0 auto;
  top: 50%;
}
.servicetabs .col-md-6 {
  padding: 0;
}

/* ========================= Services tabs end ========================= */

/* ========================= protfolio ========================= */
#work {
  padding-bottom: 100px;
}

#portfolio-heading .verticaltx {
  padding-bottom: 80px;
}
#portfolio-wrapper {
  padding-bottom: 100px;
}
#portfolio-wrapper .col-md-3 {
  padding: 0;
}
.portfolio-item {
  overflow: hidden;
  position: relative;
}
.work-overly {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: 0.5s ease;
  pointer-events: none;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.work-overly h3 {
  width: 100%;
  color: #f4c613;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.work-overly h5 {
  width: 100%;
  color: white;
  font-size: 17px;
  position: absolute;
  text-transform: uppercase;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.work-overly span {
  display: inline-block;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 6px;
  width: 30px;
  text-align: center;
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.portfolio-item:hover .work-overly {
  height: 100%;
  cursor: zoom-in;
}
.portfolio-item:hover img {
  z-index: 99999;

  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/* ========== portfolio buttons ========== */
#filter-buttons-gp {
  margin-bottom: 30px;
  padding: 5px 20px 5px 0;
}

#filter-buttons-gp button {
  border: none;
  outline: none;
  background-color: white;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 30px;
}
#filter-buttons-gp button.active span {
  color: #f4c613;
  padding-bottom: 5px;
  border-bottom: 3px solid #f4c613;
}

/* ========================= protfolio End========================= */

/* =================== feedback =============== */

#feedback {
  background-color: #f4f4f4;
  padding-bottom: 40px;
  overflow: visible;
}
#feedback .verticaltx {
  padding: 80px 0;
  margin-bottom: 50px;
}
.feed-img {
  text-align: center;
}
.feed-img img {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
}
#feedback-slider {
  top: -120px;
  margin-left: 50px;
  color: white;
  background-color: #f4c613;
}
.feed-user-data {
  width: 140px;
  margin-top: 25px;
  text-align: left;
}

.feed-user-data h6 {
  margin: 0;
  text-align: center, left;
  line-height: 20px;
  font-size: 14px;
  padding-left: 10px;
}
.feedback-box {
  padding: 20px;
}
.stars {
  text-align: center;
}
.stars ul li {
  display: inline-block;
}
.stars ul {
  margin: 5px 20px 0 0;
  text-align: right;
}
.feed-text {
  padding: 20px 10px 10px 4px;
  text-align: justify;
}
/* =================== feedback end=============== */

/* =============== Pricing box ================ */
.pricing-box h4 {
  color: #f4c613;
}
.pricing-box {
  margin: 10px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}
#dark {
  background-color: black;
  color: white;
}
.line {
  width: 100%;
  margin: 10px auto;
  border-bottom: 1px solid #ebebeb;
}
.pricing-box1 {
  padding: 0;
  margin: 0;
  display: table-row;
}
.rate-box h2,
.rate-box p {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-left: 12px;
}
.rate-box i {
  color: #bbb;
  margin-top: 11px;
  position: absolute;
}

.rate-box {
  vertical-align: top;
  display: table-cell;
}
.rate-box p {
  font-weight: 400;
  font-size: x-small;
}
.rate-dis {
  font-size: 11px;
  padding-left: 30px;
  vertical-align: top;
  display: table-cell;
}
.rate-dis p {
  text-align: justify;
}
.price-list ul {
  padding: 0;
  list-style: none;
}
.price-list ul li p {
  margin: 15px 0;
  text-align: left;
  padding: 0;
}
.price-list ul li p i {
  margin-right: 10px;
}
.pricing-btn {
  margin-top: 50px;
}
.pricing-btn button {
  width: 100%;
}
#dark-btn button {
  background-color: white;
  color: black;
}
.pricing-box:hover,
#dark:hover {
  color: white;
  background-color: #f4c613;
}
.pricing-box:hover h4,
#dark:hover h4 {
  color: white;
}
.pricing-box:hover i,
#dark:hover i {
  color: white;
}
.pricing-box:hover button,
#dark:hover button {
  border: black;
  background-color: black;
  color: white;
}

/* =============== Pricing box end ================ */

/* ============ CountDown ============== */
#counter-heading .verticaltx {
  color: white;
}
#auto-counter {
  background-image: url(../img/stats/stats-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#counter-overly {
  background-color: rgba(0, 0, 0, 0.8);
}
.counter-box {
  padding: 30px 0;
  margin: 0 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.counter-box i {
  color: #f4c613;
  font-size: 35px;
}
.counter-box h3 {
  margin: 8px 3px 0 0;
}
.counter-box p {
  padding: 0;
  font-size: 10px;
  font-weight: 100;
}
.counter-box:hover i {
  color: black;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.counter-box:hover {
  background-color: #f4c613;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
/* ============ CountDown End============== */

/* ============ Our Clients ========== */
.client-icon {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 150px;
  line-height: 100px;
}
.client-icon img {
  display: inline-block !important;
}
.blog-heading button {
  margin-top: 20px;
}
/* ========== Our Client End ==========*/

/* =========== Blog Posts ============== */
#blog-section{
  background-color: #f4f4f4;
}
.blog-heading button{
    padding: 8px 60px;
}
.blog-post{
  background-color: white;
box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1);
padding: 10px 15px;
}
.blog-post h5{
  margin: 0 0 10px 0;
}
.blog-post > p{
  text-align: justify;
  padding: 0 0 10px 0;
}
.blog-post a{
  color: #f4c613;
  font-weight: 600;
}
.blog-post a:hover{
  color: #618ff3;
}
.post-meta{
  margin-top: 20px;
  border-top: 1px solid rgb(241, 241, 241);
  padding-top: 10px;
}

.post-meta p{
  padding: 0;
  margin: 0;
  line-height: 30px;
}

/* =========== Blog Posts ============== */
