html,
body {
  height: 100%;
}

body {
  color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
/*===============   PlaceHolder    =============*/
#preloader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#loadingimg {
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-image: url(img/loading.gif);
  top: 50%;
  left: 50%;
  position: relative;
  margin-top: -35px;
  margin-left: -35px;
}
/*===============   PlaceHolder  End  =============*/

/*===============  Home   =============*/

#home-videtg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  z-index: -1;
  background-image: url(video/solo.jpg);
}

#home-overlay {
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

section {
  background: white;
  overflow: hidden;
}

/* home section */

#home-section {
  height: 100%;
  background: none;
}

/* home divs */

#home-container {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content {
  display: table-cell;
  vertical-align: middle;
}

.homecontenttx h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 65px;
}
.homecontenttx h1 span {
  color: #f4c613;
  font-weight: 500;
}

.homecontenttx p {
  color: white;
  display: inline-block;
  margin: 5px 0;
}

.btn-home {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 15px 65px 15px 65px;
  margin: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
}

.btn-home:hover,
.btn-home:focus {
  color: white;
  background-color: #f4c613;
  border-color: #f4c613;
}

#down-arrow {
  position: absolute;
  left: 50%;
  color: white;
  bottom: 10px;
  height: 35px;
  width: 35px;
  text-align: center;
  margin-left: -17px;
  z-index: 1;
}
#down-arrow:hover {
  color: #f4c613;
}
/*===============   Home End    =============*/

/*===================  about Start ============================*/
.about-container {
  padding: 120px 0px;
}
.card-container {
  padding: 100px 0;
}
.verticaltx h5 {
  color: #f4c613;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -60px;
}
.verticaltx h2 {
  min-width: 300px;
  margin-left: 30px;
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}

#ab-right-box p {
  font-size: 14px;
  text-align: justify;
}
#about-img {
  margin-top: 60px;
}
.cal-md-12 {
  width: 100%;
}
#about-img img {
  margin: 0 auto;
}
/* cards */

.cardbox {
  margin: 10px 0;
  padding: 10px;
  background-color: #f4f4f4;
  padding: 80px 30px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.cardbox p {
  text-align: justify;
}
.cardbox i {
  margin: 0;
  font-size: 42px;
}

.cardbox:hover i {
  transform: translatey(-15px);
  -webkit-transform: translatey(-15px);
  -moz-transform: translatey(-15px);
  -ms-transform: translatey(-15px);
  -o-transform: translatey(-15px);
}

.cardbox:hover {
  background-color: #f4c613;
}
.cardbox:hover hr {
  background-color: white;
}
.cardbox hr {
  width: 42px;
  height: 3px;
  background-color: #f4c613;
  margin: 15px auto;
  border: none;
}
.cardbox:hover p,
.cardbox:hover i,
.cardbox:hover h5 {
  color: white;
}
.cardbox,
.cardbox i,
.cardbox hr {
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}

/* cards end */

/*===================  about END ============================*/
/* ========================= Team css ========================= */
.verticaltx p {
  margin-top: 30px;
  text-align: justify;
}

.team-member {
  margin: 0px 8px;
  position: relative;
}
.team-member-overly{
  background-color: rgba(0, 0, 0, 0.7);
  height: 0%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
.team-overly{
  height: 100%;
  width: 100%;
 padding: 80px 0;
}

.team-overly h6 {
  color: #f4c613;
  text-align: center;
}
.team-overly ul {
  list-style-type: none;
  padding: 0;
}
.team-overly p {
  color: white;
}
.team-overly ul li {
  display: inline-block;
  padding: 0;
}
.team-overly ul li a {
  padding: 0;
  height: 40px;
  width: 40px;
  line-height: 35px;
  color: white;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
}

ul.socialicon {
  padding: 0;
  margin-top: 20px;
}
.team-member:hover .team-member-overly {
  height: 100%;
}
ul.socialicon li:nth-child(1) a:hover {
  background: #3b5998;
  border-color: transparent;
}
ul.socialicon li:nth-child(2) a:hover {
  background: #ff3300;
  border-color: transparent;
}
ul.socialicon li:nth-child(3) a:hover {
  background: #3066db;
  border-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  font-size: 90px;
}

.skill {
  margin: 20px 0;
}
.progress {
  height: 25px;
  margin: 0;
  overflow: visible;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.progress-bar{
  background-color: #f4c613;
  position: relative;
  overflow: visible;
}
.progress-bar span{
  font-size: 11px;
  position: absolute;
  left: 97%;
  top: -47px;
  text-align: center;
  line-height: 14px;
  background-color: #212226;
  font-weight: 100;
  padding: 3px;
}
.progress-bar span:before{
  content: "";
  border-top: 8px solid #212226;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  bottom: -8px;
  left: 24%;
}

.statement-bgimg{
  background-image: url(../img/tech/tech-quote.jpg);
  background-position: center;
  background-size: cover;
}
