/*===============   PlaceHolder    =============*/
#preloader {
  background-color: aqua;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#loadingimg {
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-image: url(img/loading.gif);
  top: 50%;
  left: 50%;
  position: relative;
  margin-top: -35px;
  margin-left: -35px;
}
